<h1>Crear Videojuego</h1>


<form action="/api/videogames" method="POST" enctype="multipart/form-data">
    <label>Título</label>
    <input name="title">
    <br/>
    <label>Descripción</label>
    <input name="description">
    <br/>
    <label>Precio</label>
    <input name="price">
    <br/>
    <input type="file" name="thumbnail" multiple>
    <br/>
    <input type="submit" >
</form>